<?xml version="1.0"?>
<config>
    <modules>
        <Bihang_Bihang>
            <version>1.0</version>
        </Bihang_Bihang>
    </modules>
	<frontend>
        <routers>
            <bihang_bihang>
                <use>standard</use>
                <args>
                    <module>Bihang_Bihang</module>
                    <frontName>bihang_bihang</frontName>
                </args>
            </bihang_bihang>
        </routers>
    </frontend>
    <global>
        <blocks>
            <Bihang>
                <class>Bihang_Bihang_Block</class>
            </Bihang>
        </blocks>
 
        <models>
            <Bihang>
                <class>Bihang_Bihang_Model</class>
            </Bihang>
        </models>
 
        <resources>
            <Bihang_setup>
                <setup>
                    <module>Bihang_Bihang</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Bihang_setup>
            <Bihang_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </Bihang_write>
            <Bihang_read>
               <connection>
                <use>core_read</use>
              </connection>
            </Bihang_read>
        </resources>
    </global>
 
    <default>
        <payment>
            <Bihang>
                <active>1</active>
                <model>Bihang/paymentMethod</model>
                <title>Bitcoin</title>
 
                <payment_action>authorize</payment_action>
                <callback_secret>generate</callback_secret>
            </Bihang>
         </payment>
    </default>
</config>
